@import "tailwindcss";

/* -- PENGATURAN TAMPILAN GLOBAL -- */

@layer base {
  /* Mengatur gaya default untuk Judul (H1 - H6) */
  h1, h2, h3, h4, h5, h6 {
    @apply text-slate-900 font-bold tracking-tight;
  }

  /* Mengatur gaya default untuk Paragraf */
  p {
    @apply text-slate-600 leading-relaxed;
  }

  /* Mengatur background body agar bersih */
  body {
    @apply bg-gray-50;
  }
}

/* -- KUSTOMISASI SCROLLBAR -- */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}